* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* #region root */

:root {
    --nav-orange: #ff6900;
    --white-bg: #ffffff;
    --txt-foot-blk: #1a1a1a;
    --boc-green: #008000;
    --pr-red: #ff0000;
}

/* #endregion root */

/* #region utilities */

.container {
    width: 70%;
    max-width: 1154px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.txt-center {
    text-align: center;
}

/* #endregion utilities */

/* #region app-header */

#app-header {
    background-color: var(--nav-orange);
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    color: var(--white-bg);
}

.navbar {
    justify-content: space-between;
}

.navbar .list-cat ul li {
    margin: 0 5px;
    padding: 1.5rem 0;
    font-size: 15px;
}

.navbar .list-cat ul a {
    color: var(--white-bg);
}

.logo-sec {
    align-items: center;
}

.logo {
    height: 35px;
}

.navbar .icons-nav ul a {
    color: var(--white-bg);
}

.navbar .icons-nav ul li {
    margin: 0 10px;
    padding: 1.5rem 0;
    font-size: 15px;
}

/* #endregion app-header */

/* #region app-main */

#app-main {
    z-index: 0;
}

.card {
    width: calc(100% / 3);
    margin-top: 100px;
    padding: 0 5px;
    height: fit-content;
}

.img1-card {
    max-height: 530px;
    position: relative;
    z-index: 1;
}

.img2-card {
    max-height: 530px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.price-r {
    color: var(--pr-red);
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.price-l {
    text-decoration: line-through;
    font-size: 14px;
}

.img {
    position: relative;
}

.img i, .img span {
    position: absolute;
}

.img i {
    background-color: var(--white-bg);
    padding: 15px;
    bottom: 88%;
    right: 2%; 
    z-index: 1;
}

.img i:hover {
    color: var(--pr-red);
}

.sale {
    background-color: var(--pr-red);
    color: var(--white-bg);
    top: 85%;
    left: 0;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}

.info {
    background-color: var(--boc-green);
    color: var(--white-bg);
    top: 85%;
    left: 15%;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}


.info-single {
    background-color: var(--boc-green);
    color: var(--white-bg);
    top: 85%;
    left: 0;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}

#c-1:hover .img2-card {
    z-index: 1;  
}
#c-2:hover .img2-card {
    z-index: 1;  
}
#c-3:hover .img2-card {
    z-index: 1;  
}
#c-4:hover .img2-card {
    z-index: 1;  
}
#c-5:hover .img2-card {
    z-index: 1;  
}
#c-6:hover .img2-card {
    z-index: 1;  
}

/* #endregion #app-main */

/* #region app-footer */

#app-footer {
    background-color: var(--txt-foot-blk);height: 100px;
    margin-top: 55px;
}

.foot-info, .foot-social {
    color: var(--white-bg);
    width: 50%;
    padding: 1.5rem 0;
}

.foot-info h3, h4 {
    padding-bottom: 10px;
}

.foot-info a {
    color: var(--white-bg);
    font-size: 12px;
    padding: 0 5px 0 0;
}

.foot-social {
    width: 50%;
}

.foot-social a {
    color: var(--white-bg);
    padding: 5px;
}

.foot-social a i {
    font-size: 20px;
}
