* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* #region root */

:root {
    --nav-orange: #ff6900;
    --white-bg: #ffffff;
    --txt-foot-blk: #1a1a1a;
    --boc-green: #008000;
}

/* #endregion root */

/* #region utilities */

.container {
    width: 70%;
    max-width: 1154px;
    margin: auto;
}

.flex {
    display: flex;
}

.txt-center {
    text-align: center;
}

/* #endregion utilities */

/* #region app-header */

#app-header {
    background-color: var(--nav-orange);
    width: 100%;
    height: 4rem;
    position: fixed;
    color: var(--white-bg);
}

.navbar {
    justify-content: space-between;
}

.navbar .list-cat ul li {
    margin: 0 5px;
    padding: 1.5rem 0;
    font-size: 15px;
}

.navbar .list-cat ul a {
    color: var(--white-bg);
}

.logo-sec {
    align-items: center;
}

.logo {
    height: 35px;
}

.navbar .icons-nav ul a {
    color: var(--white-bg);
}

.navbar .icons-nav ul li {
    margin: 0 10px;
    padding: 1.5rem 0;
    font-size: 15px;
}