* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* #region root */

:root {
    --nav-orange: #ff6900;
    --white-bg: #ffffff;
    --txt-foot-blk: #1a1a1a;
    --boc-green: #008000;
    --pr-red: #ff0000;
}

/* #endregion root */

/* #region utilities */

.container {
    width: 70%;
    max-width: 1154px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.txt-center {
    text-align: center;
}

/* #endregion utilities */

/* #region app-header */

#app-header {
    background-color: var(--nav-orange);
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--white-bg);
}

.navbar {
    justify-content: space-between;
}

.navbar .list-cat ul li {
    margin: 0 5px;
    padding: 1.5rem 0;
    font-size: 15px;
}

.navbar .list-cat ul a {
    color: var(--white-bg);
}

.logo-sec {
    align-items: center;
}

.logo {
    height: 35px;
}

.navbar .icons-nav ul a {
    color: var(--white-bg);
}

.navbar .icons-nav ul li {
    margin: 0 10px;
    padding: 1.5rem 0;
    font-size: 15px;
}

/* #endregion app-header */

/* #region app-main */

.card {
    width: calc(100% / 3);
    margin-top: 100px;
    padding: 0 5px;
    height: fit-content;
}

.img-card {
    max-height: 530px;
}
.price-r {
    color: var(--pr-red);
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.price-l {
    text-decoration: line-through;
    font-size: 14px;
}